[project]
	description = Git learning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vgeorgio
[access "refs/for/refs/*"]
	read = group user/vgeorgio
	push = group user/vgeorgio
	label-Code-Review = -2..+2 group user/vgeorgio
	label-Verified = -1..+1 group user/vgeorgio
	rebase = group user/vgeorgio
	removeReviewer = group user/vgeorgio
	submit = group user/vgeorgio
[access "refs/heads/*"]
	read = group user/vgeorgio
	create = group user/vgeorgio
	push = +force group user/vgeorgio
	pushMerge = group user/vgeorgio
[access "refs/tags/*"]
	push = +force group user/vgeorgio
	pushTag = group user/vgeorgio
	pushSignedTag = group user/vgeorgio
